@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root { 
  --light-gray: #2c2c2c;
  --dark-gray: #111111;
  --soft-white: #f4f4f4;
  --accent-color: #b4ce35; /* Modern green accent */
  --accent-dark: #8b9e2c; /* Darker accent for hover states */
  --accent-hover-dark: #778825; /* Darker accent for hover states */
  --edges-color: #b4ce35; /* Edge highlight color */
  --edges-light-color: rgba(181, 206, 53, 0.15); /* Lighter accent for cards */
  --font-family: "Montserrat", sans-serif;
}

.light {
  --background: #f0f2f5;
  --text-color: #111111;
}

.dark {
  --background: #2c2c2c;
  --text-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

h1, h2, h3, h4, h5, h6, p {
  color: inherit;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  font-family: var(--font-family);
  color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background);
}

.footer {
  margin-top: auto;
  background-color: var(--edges-color);
  padding: 10px;
  text-align: center;
}

/* Button or component-specific styling based on theme */
.button {
  background-color: var(--edges-color);
  color: var(--text-dark);
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid var(--edges-light-color);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--edges-light-color);
    color: var(--text-light);
  }
}
