@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
  --light-gray: #2c2c2c;
  --dark-gray: #111111;
  --soft-white: #f4f4f4;
  --accent-color: #b4ce35; /* Modern green accent */
  --accent-dark: #8b9e2c; /* Darker accent for hover states */
  --accent-hover-dark: #778825; 
  --edges-color: #b4ce35; /* Edge highlight color */
  --edges-light-color: rgba(181, 206, 53, 0.15); /* Lighter accent for cards */
  --font-family: "Montserrat", sans-serif;
}

.light {
  --background: #f0f2f5;
  --text-color: #111111;
  --glass-bakground: rgba(255, 255, 255, 0.15);
}

.dark {
  --background: #2c2c2c;
  --text-color: #f4f4f4;
  --glass-bakground: rgba(58, 58, 58, 0.15); 
}

@mixin breakpoint($size) {
  @if $size == mobile {
    @media (max-width: 600px) { @content; }
  } @else if $size == laptop {
    @media (max-width: 900px) { @content; }
  } @else if $size == desktop {
    @media (max-width: 1200px) { @content; }
  } 
}

@mixin after-style($height, $bottom) {
  content: ''; 
  display: block; 
  width: 100%; 
  height: $height; 
  background-color: var(--accent-color); 
  position: absolute; 
  left: 0; 
  bottom: $bottom; 
  border-radius: 2px;
  z-index: -1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p {
  color: inherit;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background);
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -50px;
    background-image: url('../images/logo.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: 40%;
    width: 170vw;
    height: 170vh;
    opacity: 0.08; 
    z-index: -1; 

    @include breakpoint(laptop) {
      width: 1000px;
      height: 1000px;
      background-position: 300%;
    }

    @include breakpoint(mobile) {
      width: 900px;
      height: 900px;
      background-position: 100%;
    }
  }
}

.footer {
  margin-top: auto;
  background-color: var(--edges-color);
  padding: 10px;
  text-align: center;
}

/* Button or component-specific styling based on theme */
.button {
  background-color: var(--edges-color);
  color: var(--text-dark);
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid var(--edges-light-color);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--edges-light-color);
    color: var(--text-light);
  }
}

::-webkit-scrollbar {
  width: 10px;  
}

::-webkit-scrollbar-thumb {
  background: var(--accent-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dark);
}
