@import "./App.scss";

.benefits-section-container{
  width: 100%;
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .benefits-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px; 
    justify-content: center;  
    @include breakpoint(mobile) {
      gap: 16px; 
    }

    .title {
      width: 100%;
      max-width: 450px;
      height: 350px;
      display: flex;
      align-items: center;
  
      h2 {
        text-align: initial;
        font-size: 62px;
        margin-bottom: 42px;
  
        @include breakpoint(laptop) {
          font-size: 42px;
        }
      }

      @include breakpoint(laptop) {
        height: auto;
      }
    }
  }
}

