@import "./App.scss"; // Importa as variáveis globais e temas

// Contêiner do dashboard com layout em coluna
.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
  gap: 20px;
  padding: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Estilo dos cartões de post
.post-card {
  background: var(--bg-light);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px); // Leve elevação no hover
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); // Sombra mais forte
    background: linear-gradient(135deg, var(--accent-color), var(--bg-light)); // Gradiente suave no hover
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
    transition: color 0.3s ease;

    .dark & {
      color: var(--accent-dark); // Cor de destaque no tema escuro
    }
  }

  p {
    font-size: 16px;
    white-space: pre-wrap; // Mantém quebras de linha nas mensagens
    margin-bottom: 20px;

    .dark & {
      color: white; // Texto claro no tema escuro
    }
  }

  // Estilização das visualizações
  .views {
    font-size: 14px;
    color: var(--accent-color); // Cor de destaque para visualizações
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.9;
    transition: color 0.3s ease;

    &:before {
      content: '👁'; // Ícone de olho antes do número de visualizações
      margin-right: 5px;
    }

    .dark & {
      color: var(--accent-dark); // Ajuste da cor no tema escuro
    }
  }

  // Tema escuro para os cartões
  .dark & {
    background: linear-gradient(135deg, var(--bg-dark), #222); // Gradiente no fundo escuro
    color: var(--text-light); // Texto claro
  }
}

// Animações para transições mais suaves
@keyframes smoothFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Efeito ao alternar o tema
html.dark {
  animation: smoothFade 0.5s ease-in-out; // Animação ao aplicar o tema escuro
}

// Ajustes globais para smooth transitions
* {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.edit-mode {
  width: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-editable {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-light);
  font-size: larger;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: var(--edges-light-color);

  .dark & {
    background: linear-gradient(135deg, var(--bg-dark), #222); // Gradiente no fundo escuro
    color: var(--text-dark); // Texto claro
  }
}



.textarea-editable {
  position: relative;
  height: fit-content;
  padding: 10px 5px;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  border: 1px solid var(--accent-color);
  border-radius: 5px;

  .dark & {
    background: linear-gradient(135deg, var(--bg-dark), #222); // Gradiente no fundo escuro
    color: var(--text-dark); // Texto claro
  }
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: var(--accent-color);
  /* Verde do sistema */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: var(--accent-dark);
  /* Verde mais escuro */
}

.not-views {
  font-size: 14px;
  color: var(--bg-light);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  position: absolute;
  top: 20px; /* Ajuste essa propriedade para diferentes valores */
  right: 20px;
  opacity: 0.9;
  transition: color 0.3s ease;
  background-color: var(--accent-color);
  border-radius: 10px;
  padding: 5px;
  z-index: 1; /* Certifica que o elemento ficará sobreposto adequadamente */

  &:before { /* Ícone de olho antes do número de visualizações */
    margin-right: 5px;
  }

  .dark & {
    color: var(--accent-dark); /* Ajuste da cor no tema escuro */
  }
}

/* Adicione essa regra se você tiver mais de uma not-views */
.not-views + .not-views {
  top: 50px; /* Adicione mais espaço para evitar sobreposição */
}
