@import "./App.scss";
$header-height: 90px;
$border-radius: 36px;
$transition-duration: 0.3s;

.header {
  height: $header-height;
  display:  flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      height: 60px;
    }
  }

  .nav {
    height: $header-height;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: 0px -1px 8px 1px rgba(0,0,0,0.4);
    padding: 0 36px;
    background-color: var(--background);

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      justify-content: center;
      gap: 36px;      

      li {
        list-style: none;

        a {
          position: relative;
          color: var(--text-color);
          font-weight: 600;
          font-size: 18px;
          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 3px; 
            background-color: var(--edges-color);
            transition: width $transition-duration ease;
          }
      
          &:hover::after {
            width: 100%; 
          }
        }
      }
      .login-theme-group {
        display: flex;
        justify-content: space-between;

        @include breakpoint(laptop) {
          width: 100%;
        }
      }

      .login-theme-group .login-mobile {
        display: none;
        align-items: center;
        background-color: var(--accent-color);
        padding: 10px 16px;
        color: var(--dark-gray);
        border-radius: $border-radius;        

        @include breakpoint(laptop) {
          display: block;
        }
      }

      .theme-toggle-btn {
        background-color: var(--edges-color);
        /* Amarelo no início */
        color: var(--soft-white);
        border: none;
        border-radius: 50%;
        /* Botão arredondado */
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        /* Tamanho do ícone */
        cursor: pointer;
        transition: all $transition-duration;
    
        &:hover {
          background-color: var(--accent-dark);
          /* Tom mais suave ao passar o mouse */
          transform: scale(1.05);
          /* Aumenta o botão ao passar o mouse */
        }
    
        &:active {
          background-color: var(--accent-dark);
          transform: scale(0.98);
          /* Pequena redução ao clicar */
        }
      }
    }
    
    @include breakpoint(laptop) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      padding: 56px 24px;
      background-color: var(--background);
      border-radius: 0;
      transform: translateX(100%);
      transition: transform $transition-duration ease;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
      z-index: 99;
  
      &.open {
        transform: translateX(0);
      }
  
      ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        height: auto;
        justify-content: flex-start;
        padding-top: 24px;
      }
  
      .theme-toggle-btn {
        align-self: flex-end;
      }
    }
  }

  .login-btn {
    background-color: var(--edges-color);
    color: var(--dark-gray);
    padding: 8px 18px;
    border-radius: 10px 0 0 10px;
    font-weight: 700;
    transition: background-color .5s;

    &:hover {
      background-color: var(--accent-dark);
    }
    @include breakpoint(laptop) {
      display: none; 
    }
  }

  .menu-mobile-btn {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: transform $transition-duration ease;
    background: none;
    border: none;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--accent-dark);
      border-radius: 2px;
      transition: all $transition-duration ease;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }

    @media (min-width: 900px) {
      display: none;
    }
  }

  @include breakpoint(laptop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.15); // Fundo semi-transparente para o efeito de vidro
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 0 16px;
    
    + .main-content {
      margin-top: $header-height;
    }
  }
}

