@import "./App.scss";

.landing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../images/logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    width: 150vw;
    height: 150vh;
    opacity: 0.05; 
    z-index: -1; 
  }

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

    .hero-image {
      width: 100%;
      max-width: 500px;

      @include breakpoint(desktop) {
        max-width: 350px;
      }

      @include breakpoint(laptop) {
        max-width: 250px;
      }

      @include breakpoint(mobile) {
        display: none;
      }
    }
    
    .hero-title {
      width: 100%;

      h2 {
        text-align: start;
        font-weight: 500;
        font-size: 52px;
        letter-spacing: -2px;
        color: var(--text-color);

        span {
          font-weight: 700;
          position: relative;
          z-index: 1;
          color: var(--text-color);

          &::after {
            @include after-style(12px, 9px);
          }
        }

        @include breakpoint(desktop) {
          font-size: 40px; 
          span::after {
            height: 10px;
            bottom: 5px; 
          }
        }

        @include breakpoint(laptop) {
          font-size: 28px; 
          span::after {
            height: 8px;
            bottom: 4px;
          }
        }
      
        @include breakpoint(mobile) {
          font-size: 24px;
          span::after {
            height: 6px;
          }
        }
      }
    }
  }

  .slog {
    padding: 24px 0;

    p {
      font-size: 28px;
      color: var(--text-color);

      span {
        position: relative;
        z-index: 1;
        color: var(--text-color);

        &::after {
          @include after-style(8px, 3px);
        }
      }

      @include breakpoint(laptop) {
        font-size: 18px;
        span::after {
          height: 6px;
          bottom: 2px;
        }
      }

      @include breakpoint(mobile) {
        font-size: 14px;
        span::after {
          height: 4px;
          bottom: 2px;
        }        
      }
    }
  }
}
