@import "./App.scss"; // Importa as variáveis globais e temas

.login-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto;
  padding: 30px;
  background-color: var(--background);
  border-radius: 36px;
  box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;


  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
  }

  .error-message {
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
}

// Variáveis de tema
:root {
  --bg-light: #ffffff;
  --bg-dark: #2e2e2e;
  --text-light: #f1f1f1;
  --text-dark: #333333;
  --accent-color: #6A0DAD;
  --accent-dark: #5A0B85;
  --accent-darker: #4A0975;
  --input-bg: #f9f9f9;
  --input-dark-bg: #444444;
  --input-focus-bg: #fffceb;
  --edges-light-color: #cccccc;
  --error-color: #e74c3c;
}
