@import "./App.scss"; // Importa as variáveis globais e temas

.payment-form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--bg-light);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;

  .dark & {
    background-color: var(--bg-dark); // Fundo no tema escuro
    color: var(--text-light); // Texto claro no tema escuro
  }

  h2 {
    font-size: 28px;
    color: var(--accent-color); // Cor de destaque
    margin-bottom: 20px;
    display: flex;
    /* Usando Flexbox */
    justify-content: center;
    /* Centralizando o conteúdo */
    align-items: center;
    /* Centralizando verticalmente */
    position: relative;

    &::after {
      content: '🔒'; // Ícone de cadeado representando pagamento seguro
      font-size: 24px;
      margin-left: 10px; // Espaço entre o texto e o ícone
      color: var(--accent-color);
    }

    .dark & {
      color: var(--accent-dark); // Cor no tema escuro
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px; // Espaçamento entre os inputs

    .input-group {
      text-align: left;
      width: 80%;
      label {
        font-size: 16px;
        color: var(--text-color);
        font-weight: 700;
      }

      .stripe-card-element {
        width: 100%;
        padding: 24px 24px;
        font-size: 16px;
        border: 1px solid var(--accent-color);
        border-radius: 16px;
        background-color: var(--input-bg);
        color: var(--text-color);
        font-weight: 600;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        outline: none;
        margin-top: 10px;
    
        &:hover {
          background-color: var(--input-hover-bg);
        }
    
        &:focus {
          border-color: var(--accent-color);
          background-color: var(--background);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        }
    
        &::placeholder {
          color: var(--text-color);
          font-weight: 600;
          opacity: 0.5;
        }
      }
    }
  }

  .error-message {
    color: var(--error-color); // Cor de erro
    font-size: 14px;
    margin-top: 10px;
  }

  .success-message {
    color: var(--success-color); // Cor de sucesso
    font-size: 14px;
    margin-top: 10px;
  }

  .dark & .error-message {
    color: var(--error-color-dark); // Ajuste para tema escuro
  }

  .dark & .success-message {
    color: var(--success-color-dark); // Ajuste para tema escuro
  }
}
