@import "./App.scss"; // Importar variáveis de tema

.select-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: black;

    .dark & {
      color: white;
    }
  }

  select {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid var(--edges-light-color);
    border-radius: 8px;
    background-color: var(--input-bg);
    color: black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;

    &:hover {
      background-color: var(--input-hover-bg);
    }

    &:focus {
      border-color: var(--accent-color);
      background-color: var(--input-focus-bg);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .dark & {
      background-color: var(--input-dark-bg);
      color: white;
      border-color: var(--edges-dark-color);

      &:hover {
        background-color: var(--input-dark-hover-bg);
      }

      &:focus {
        border-color: var(--accent-dark);
      }
    }
  }
}
