@import "./App.scss"; // Importar variáveis de tema

.select-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--text-color);
  }

  select {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    background-color: var(--input-bg);
    color: var(--text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;

    &:focus,
    option {
      background-color: var(--input-bg);
    }
  }
}
