@import "./App.scss"; // Importar variáveis de tema

.text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 700;
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
  }

  input, input[type="password"] {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-weight: 600;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;

    &:hover {
      background-color: var(--input-hover-bg);
    }

    &:focus {
      border-color: var(--accent-color);
      background-color: var(--background);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    &::placeholder {
      color: var(--text-color);
      font-weight: 600;
      opacity: 0.5;
    }
  }

  // Classe para borda de erro
  input.input-error {
    border-color: red;
  }
}
